<head>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   77fkpt0trz146t
	authorize: true
	lang:   nl_NL
	onLoad: onLinkedInLoad
</script>
<title>Hubfinder</title>
</head>
<template name="main">
  {{#if isLoggedIn}}
    {{#if isFirstLogin}}
      <div class="container">
       <div class="alert alert-dismissible alert-info">
         <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Hey!</strong> Zo te zien is dit de eerste keer dat je HubFinder gebruikt, we zullen u eerst het een en ander uitleggen.
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Hubfinder - Informatie</h3>
          </div>

          <div class="panel-body col-md-12">
        	<div class="panel panel-default">
        	  <div class="panel-heading">
        		<h3 class="panel-title">Doel</h3>
        	  </div>
        	  <div class="panel-body">
                <p>In de Hubfinder wordt bijgehouden welke skills personeelsleden bezitten binnen een bepaalde afdeling. Vervolgens worden deze skills gebruikt om
                te bepalen wat de bekendste en onbekendste skills binnen een afdeling betreffen.</p>
        	  </div>
        	</div>
          </div>
          <div class="panel-body col-md-12">
        	<div class="panel panel-default">
        	  <div class="panel-heading">
        		<h3 class="panel-title">Achtergrond</h3>
        	  </div>
        	  <div class="panel-body">
                <p>Tijdens deze themaopdracht hebben Jasper de Waard en Franck Verschuur maar beperkt gebruik kunnen maken van de LinkedIn API, deze is sinds
                  kort weer aangepast zodat developers geen toegang meer hebben tot de inzage van skills of opleidingshistorie van de desbetreffende persoon. Daarom moet een
                  gebruiker zelf duidelijk maken over wat voor skills hij bezit.</p>
        	  </div>
        	</div>
          <a href="/skills" style="text-decoration: none"><button id="singlebutton" name="singlebutton" class="btn btn-primary btn-block">
              Verder, naar Skills definiëren
          </button></a>
          </div>
        </div>
      </div>
      {{else}}
      <div class="container">
       <div class="jumbotron">
         <h1>HubFinder</h1>
           <img src="http://payload98.cargocollective.com/1/3/112095/4272386/airline_internet_2_440.jpeg" alt="plaatje">

       </div>
      </div>
  {{/if}}
  {{else}}
  <div class="container">
   <div class="jumbotron">
     <h1>HubFinder</h1>
     <p>Gebruiker is nog niet ingelogd!</p>
     <p><a class="btn btn-primary btn-lg">Learn more</a></p>
   </div>
  </div>
  {{/if}}
</template>
