<head>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   77fkpt0trz146t
	authorize: true
	lang:   nl_NL
	onLoad: onLinkedInLoad
</script>
<title>Hubfinder</title>
</head>
<template name="main">
  {{#if isLoggedIn}}
    {{#if isFirstLogin}}
      <div class="container">
       <div class="alert alert-dismissible alert-info">
         <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Hey!</strong> Since this is the first time you are using this application we will guide you through the process.
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            {{#if userObject.language = EN}}
            <h3 class="panel-title">Hubfinder - Information</h3>
            {{else}}
            <h3 class="panel-title">Hubfinder - Informatie</h3>
            {{/if}}
          </div>

          <div class="panel-body col-md-12">
        	<div class="panel panel-default">
        	  <div class="panel-heading">
        		<h3 class="panel-title">Goal</h3>
        	  </div>
        	  <div class="panel-body">
              {{#if userObject.language = EN}}
                <p>In the Hubfinder we collect all staffs skills within a department. With these skills we can create a top5 of the best known and least known skills.</p>
                {{else}}
                <p>In de Hubfinder wordt bijgehouden welke skills personeelsleden bezitten binnen een bepaalde afdeling. Vervolgens worden deze skills gebruikt om
                te bepalen wat de bekendste en onbekendste skills binnen een afdeling betreffen.</p>
              {{/if}}
        	  </div>
        	</div>
          </div>
          <div class="panel-body col-md-12">
        	<div class="panel panel-default">
        	  <div class="panel-heading">
        		<h3 class="panel-title">Disclaimer</h3>
        	  </div>
        	  <div class="panel-body">
              {{#if userObject.language = EN}}
              <p>During this project we could (Jasper de Waard and Franck Verschuur) could only use the LinkedIn API for basic profile information, they just changed their API for developers.
              Restricting developers to look for the users skills and any educational history.</p>
                {{else}}
                <p>Tijdens deze themaopdracht hebben Jasper de Waard en ik (Franck Verschuur) maar beperkt gebruik kunnen maken van de LinkedIn API, deze is sinds
                  kort weer aangepast zodat developers geen toegang meer hebben tot de inzage van skills of opleidingshistorie van de desbetreffende persoon.</p>
                {{/if}}
        	  </div>
        	</div>
          </div>
        </div>
      </div>
      {{else}}
      <div class="container">
       <div class="jumbotron">
         <h1>HubFinder</h1>
         <p>Hier zouden we wat informatie kunnen zetten (een plaatje of iets anders leuks).</p>
         <p><a class="btn btn-primary btn-lg">Learn more</a></p>
       </div>
      </div>
  {{/if}}
  {{/if}}
</template>
