<head>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   77fkpt0trz146t
	authorize: true
	lang:   nl_NL
	onLoad: onLinkedInLoad
</script>
<title>HubFinder Index</title>
</head>
<template name="main">
<div class="container">
 <div class="jumbotron">
   <h1>HubFinder</h1>
   <p>Hier zouden we wat informatie kunnen zetten (een plaatje of iets anders leuks).</p>
   <p><a class="btn btn-primary btn-lg">Learn more</a></p>
 </div>
</div>
<div class="container">
{{> usersList}}
</div>
</template>