<template name="navigation">
<nav class="navbar navbar-default">
 <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="">HubFinder</a>
 </div>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
       <li><a href="profile" onClick="displayProfile();return false;">Show profile</a></li>
       <li><a onclick="logoutUser();return false;"><script type="in/Login">Logout</script></a></li>
	</ul>
	</li>
  </ul>
 </div>
</nav>
</template>