<template name="logout">
{{#if isLoggedIn}}
<div class="container">
 <div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Oh snap!</strong>You aren't supposed to be here. <a href="#" class="alert-link" onClick="window.history.back();">Go back</a>
 </div>
</div>
{{else}}
<div class="container">
 <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Success!</strong> <a href="#" class="alert-link">Thanks</a> for using Hubfinder.
 </div>
</div>
{{/if}}
</template>