<template name="addSkills">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Hubfinder - Skills</h3>
      </div>

      <div class="panel-body col-md-12">
        <form name="updateSkills" id="updateSkills">
      	<div class="panel panel-default">
      	  <div class="panel-heading">
      		<h3 class="panel-title">Definiëren <span class="glyphicon glyphicon-search" aria-hidden="true"></span></h3>
      	  </div>
        	  <div class="panel-body">
              <div class="form-group">
                  <input class="form-control typeahead" name="skill" type="text"
                         placeholder="Hubfinder skills zoeken..."
                         autocomplete="off" spellcheck="off"
                         data-source="hubSkills" data-template="skills"/>
                  <input class="form-control" name="userid" type="hidden" value="{{ userObject._id }}"/>
              </div>
            </div>
      	</div>
        <input class="btn btn-primary btn-block" type="submit" value="Skill toevoegen">
        </form>
      </div>
      <div class="panel-body col-md-12">
      	<div class="panel panel-default">
      	  <div class="panel-heading">
      		<h3 class="panel-title">Skill toevoegen <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h3>
      	  </div>
        	  <div class="panel-body">
              Uw skill staat niet in de lijst? Voeg hem toe zodat die toegankelijk is voor iedereen!
            </div>
      	</div>
      </div>
      <div class="panel-body col-md-6">
      	<div class="panel panel-default">
      	  <div class="panel-heading">
      		<h3 class="panel-title">Skill naam</h3>
      	  </div>
        	  <div class="panel-body">
              <input type="text" class="form-control" name="name" value="" placeholder="Naam van de nieuwe skill"/>
            </div>
      	</div>
      </div>
      <div class="panel-body col-md-6">
      	<div class="panel panel-default">
      	  <div class="panel-heading">
      		<h3 class="panel-title">Skill afbeelding</h3>
      	  </div>
        	  <div class="panel-body">
              <label for="file-upload" class="custom-file-upload">
                <i class="glyphicon glyphicon-upload"></i> Afbeelding kiezen
              </label>
              <input id="file-upload" type="file" name="afbeelding"/>
            </div>
      	</div>
      </div>
      <div class="panel-body col-md-12">
      	<div class="panel panel-default">
      	  <div class="panel-heading">
      		<h3 class="panel-title">Skill omschrijving</h3>
      	  </div>
        	  <div class="panel-body">
              <input type="text" class="form-control" name="description" value="" placeholder="Omschrijving van de nieuwe skill"/>
            </div>
      	</div>
        <input class="btn btn-primary btn-block" type="submit" value="Nieuwe skill toevoegen">
      </div>
    </div>
  </div>
</template>

<template name="skills">
  <p class="skill-name" style="font-size: 26px; font-weight: bold;">{{name}}</p>
  <p class="skill-description">{{description}}</p>
</template>
