<template name="profile">
{{#if isLoggedIn}}
<div class="container">
	<div class="jumbotron">
		<p>This page holds profile information for users on hubfinder</p>
	</div>
</div>

<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Hubfinder - Profile</h3>
  </div>

  
  <div class="panel-body col-md-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title">Firstname</h3>
	  </div>
	  <div class="panel-body">
		{{ userObject.firstname }}
	  </div>
	</div>
  </div>
  <div class="panel-body col-md-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title">Lastname</h3>
	  </div>
	  <div class="panel-body">
		{{ userObject.lastname }}
	  </div>
	</div>
  </div>
  
</div>
</div>
{{else}}
<div class="container">
 <div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Oh snap!</strong> <a href="#" class="alert-link">Make sure to login before visiting</a> and try again.
</div>
</div>
{{/if}}
</template>
