<template name="dashboard">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Hubfinder - Skills Statistieken</h3>
            </div>
            <div class="panel-body col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Top5 meest populaire skills</h3>
                    </div>
                    <div class="panel-body">
                      <script>

                      var processed_json = new Array();
                      $.map(Session.get('topGraphSkills'), function(obj, i) {
                          processed_json.push([obj.name, parseInt(obj.key)]);
                      });

                      $(function () {
                        $('#graph-container').highcharts({
                            chart: {
                              type: 'column',
                              backgroundColor:'#4e5d6c'
                            },
                            legend: {
                              itemStyle: {
                                  color: '#FFF',
                                  fontWeight: 'normal'
                              },
                            },
                            title: {
                              text: 'Top 5 skills',
                              style: {
                                color: '#FFF',
                                fontWeight: 'bold'
                              }
                            },
                            subtitle: {
                              text: 'Hubfinder',
                              style: {
                                color: '#FFF',
                              }
                            },
                            credits: {
                                enabled: false
                            },
                            xAxis: {
                              type: "category",
                              labels: {
                                 style: {
                                    color: '#FFF'
                                 }
                              }
                            },
                            yAxis: {
                              labels: {
                                style: {
                                  color: '#FFF'
                                }
                              }
                            },
                            series: [
                                {
                                  name: 'Skills',
                                  data: processed_json,
                                  color: '#df691a'
                                }
                              ]
                        });
                      });
                      </script>
                      <div id="graph-container" class="graph-container"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
